
 .productCard {
    color:rgb(255, 255, 255);
    border-bottom: 1px solid black;
}
.productCard:hover {
    background-color: rgb(255, 255, 255);
    color: black;
    cursor: pointer;
}
.removeButton {
    background-color: transparent;
    border: none;
    color: red;
    font-size: 1.5rem;
    cursor: pointer;
}
.productImg {
    width: 25%;
    border-radius: 5px;
    display: flex;
}
.productImg img {
    width: 100%;
    height: 100%;
    object-fit:contain;
    border-radius: 5px;
}
 .productInfo {
    display: flex;
    align-items: center;
} 
.productDetails{
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 10px;
}
.productCategory {
    font-size: .8rem;
    font-weight: 300;
    color: rgb(150, 149, 149);
}
.price ,.total {
    font-size: 1.4rem;
    font-weight: 600;
 
}

    

.quantity {
    font-size: 1.4rem;
    width: 40%;
    text-align: center;
} 

